:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1170px;
    --container-pi: 10px;
    --height-header: 3.125rem;
    --main-br: 0.75rem;
  /* Color styles */
    --base-cristal-white: #ffffff;
    --base-rich-black: #06101a;
    --brandbook-main: #f7971d;
    --brandbook-grass: #9ed6a1;
    --brandbook-bordo: #760000;
    --brandbook-bottons: #204f3d;
    --brandbook-more: #f22a52;
    --buttons-white: #ffffff;
    --buttons-green: #2dbe64;
    --buttons-green-dark: #109347;
    --buttons-blue: #00a3ff;
    --buttons-red: #fe4928;
    --buttons-violet: #7b61ff;
    --gray-gray_10: #eaf0e6;
    --gray-gray_20: #f0f1ed;
    --gray-gray_30: #e6e6f0;
    --gray-gray_40: #bcbccc;
    --gray-gray_50: #9393a3;
    --gray-gray_60: #67677a;
    --gray-gray_70: #3e3e52;
    --gray-grey_80: #0e1b26;
    --tech-hot-red: #ff0000;
    --tech-sky: #00a3ff;
    --tech-greentekila: #0ff14e;
    --tech-barbie: #ff00a8;
    --buttons-Linear: linear-gradient(90deg, #2dbe64 0%, #90be2d 100%);
    --zIndex: 999;
}

@media (min-width: 768px) {
    :root {
        --height-header: 3.75rem;
        --main-br: 1.25rem;
    }
}

@media (min-width: 992px) {
    :root {
        --height-header: 5rem;
        --main-br: 1.875rem;
    }
}

* {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
}

p a,
p a:visited {
    text-decoration: underline;
}

@media (any-hover: hover) {
    a:hover {
        text-decoration: none;
    }
}

p {
    text-wrap: pretty;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  src: local("Golos Text"), local("Golos Text"), url("../fonts/golos_text/GolosText-Regular.woff2") format("woff2"), url("../fonts/golos_text/GolosText-Regular.woff") format("woff"), url("../fonts/golos_text/GolosText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  src: local("Golos Text"), local("Golos Text"), url("../fonts/golos_text/GolosText-Medium.woff2") format("woff2"), url("../fonts/golos_text/GolosText-Medium.woff") format("woff"), url("../fonts/golos_text/GolosText-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  src: local("Golos Text"), local("Golos Text"), url("../fonts/golos_text/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/golos_text/GolosText-SemiBold.woff") format("woff"), url("../fonts/golos_text/GolosText-SemiBold.ttf") format("truetype");
}

body {
    font-family: "Montserrat";
    font-size: 1rem;
    line-height: normal;
    font-weight: 500;
    color: var(--base-rich-black, #06101a);
    background: var(--base-cristal-white, #fff);
}

body.no-scroll {
    overflow: hidden;
}

.button {
    --height: 3rem;
    --fs: 1rem;
    --pb: 0.625rem;
    --pi: 0.938rem;
    --border-radius: 0.5em;
    --icon-size: 0.75em;
    --clr: var(--base-cristal-white, #fff);
    --bg: var(--buttons-Linear);
    --duration: 0.2s;
    width: 100%;
    min-height: var(--height);
    padding: var(--pb) var(--pi);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.625rem;
    cursor: pointer;
    font-size: var(--fs);
    font-style: normal;
    text-align: center;
    font-weight: 800;
    line-height: 1.5;
 /* 150% */
    color: var(--clr);
    border-radius: var(--border-radius);
    background: var(--bg);
    background-size: 100% 100%;
    background-position: top right;
    transition: background var(--duration) linear;
    outline: none;
}

@media (any-hover: hover) {
    .button:hover {
        background-size: 200% 100%;
    }
}

.button svg {
    flex: 0 0 var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 0 0 auto;
    display: block;
    fill: currentColor;
    transition: fill var(--duration) linear;
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 992px) {
    .wrapper {
        padding: var(--height-header) 0 0 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

.header {
    background: var(--base-cristal-white, #fff);
}

@media (max-width: 992px) {
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--zIndex);
        transition: box-shadow 0.2s linear;
    }

    .header.scrolled {
        box-shadow: 0px -10px 34px -5px rgba(0, 0, 0, 0.2);
    }

    .header.active.scrolled {
        box-shadow: none;
    }

    .header.active .header__actions {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.header__wrapper {
    min-height: var(--height-header);
    padding: 0.625rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header__logo {
    flex: 0 0 130px;
}

@media (min-width: 992px) {
    .header__logo {
        flex: 0 1 175px;
        min-width: 130px;
    }
}

.header__button {
    --height: 2.5rem;
    --fs: 0.75rem;
    --pi: 1.25rem;
    flex: 0 0 auto;
    width: auto;
    font-weight: 700;
}

@media (max-width: 992px) {
    .header__button {
        display: none;
    }
}

.header__user {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.571;
 /* 157.143% */
    color: var(--base-rich-black, #06101a);
    cursor: pointer;
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .header__user:hover {
        color: var(--buttons-violet, #7b61ff);
    }

    .header__user:hover .header__img {
        background: var(--gray-gray_10, #eaf0e6);
    }
}

@media (max-width: 992px) {
    .header__user {
        margin: 0 0 0 auto;
    }

    .header__user span {
        display: none;
    }
}

.header__img,
.header__menu-button {
    flex: 0 0 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--gray-gray_30, #e6e6f0);
    overflow: hidden;
    position: relative;
    transition: background 0.2s linear;
    outline: none;
    border: none;
}

.header__img svg,
.header__menu-button svg {
    flex: 0 0 0.875rem;
    width: 0.875rem;
    height: 0.875rem;
}

.header__img img,
.header__menu-button img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header__img svg {
    fill: none;
    stroke: var(--buttons-violet, #7b61ff);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@media (any-hover: hover) {
    .header__menu-button:hover {
        background: var(--gray-gray_10, #eaf0e6);
    }
}

.header__menu-button.active .header__icon-menu {
    transition-delay: 0s;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50%, -50%, 0) scale(0);
}

.header__menu-button.active .header__icon-close {
    transition-delay: 0.1s;
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, -50%, 0) scale(1);
}

@media (min-width: 992px) {
    .header__menu-button {
        display: none;
    }
}

.header__icon-menu,
.header__icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: var(--buttons-violet, #7b61ff);
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition-property: fill, transform, opacity, visibility;
    transition-duration: 0.1s;
}

.header__icon-menu {
    transition-delay: 0.1s;
}

.header__icon-close {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-50%, -50%, 0) scale(0);
}

.header__actions .header__button {
    display: none;
}

@media (max-width: 992px) {
    .header__actions {
        position: fixed;
        top: var(--height-header);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: var(--base-cristal-white, #fff);
        transform: translate3d(0, 20px, 0);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: 0.2s;
    }

    .header__actions .header__button {
        --height: 3rem;
        --fs: 1.125rem;
        width: 100%;
        display: flex;
    }
}

@media (max-width: 992px) {
    .header__actions-wrapper {
        height: 100%;
        padding: var(--container-pi);
        display: flex;
        flex-direction: column;
        border-radius: var(--main-br) var(--main-br) 0 0;
        background: var(--gray-gray_10, #eaf0e6);
    }
}

.header__actions-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem 0.938rem;
}

@media (max-width: 992px) {
    .header__actions-items {
        margin: 0 0 0.625rem 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.header__action {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1.667;
 /* 166.667% */
    color: var(--base-rich-black, #06101a);
    cursor: pointer;
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .header__action:hover {
        color: var(--buttons-violet, #7b61ff);
    }
}

.header__action.active {
    color: var(--buttons-violet, #7b61ff);
}

@media (max-width: 992px) {
    .header__action {
        flex: 1 1 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
    }

    .header__action.active {
        color: var(--base-rich-black, #053969);
        border-radius: 0.5rem;
        background: var(--base-cristal-white, #fff);
    }
}

.header__action-icon {
    flex: 0 0 1rem;
    height: 1rem;
    margin: 0 0.625rem 0 0;
}

.header__action-icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

@media (min-width: 992px) {
    .header__action-icon {
        display: none;
    }
}

.footer {
    padding: 0 0 1.25rem 0;
}

@media (min-width: 576px) {
    .footer {
        padding: 0 0 2.188rem 0;
    }
}

@media (min-width: 992px) {
    .footer {
        padding: 0 0 3.125rem 0;
    }
}

.footer__head {
    padding: 0.938rem 0 1.25rem 0;
}

@media (min-width: 576px) {
    .footer__head {
        border-top: 1px solid var(--gray-gray_20, #f0f1ed);
    }
}

@media (min-width: 768px) {
    .footer__head {
        padding: 1.875rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer__logo {
    width: 8.125rem;
    margin: 0 0 1.563rem 0;
    display: block;
}

@media (min-width: 768px) {
    .footer__logo {
        flex: 0 1 12.5rem;
        width: auto;
        min-width: 8.125rem;
        margin: 0 1.563rem 0 0;
    }
}

.footer__contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

@media (min-width: 1400px) {
    .footer__contacts {
        gap: 1.25rem 3.438rem;
    }
}

.footer__contact {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--base-rich-black, #06101a);
    transition: color 0.2s linear;
    cursor: pointer;
}

@media (any-hover: hover) {
    .footer__contact:hover {
        color: var(--buttons-violet, #7b61ff);
    }
}

@media (min-width: 576px) {
    .footer__contact {
        flex: 0 1 auto;
    }
}

@media (min-width: 768px) {
    .footer__contact {
        font-size: 1.125rem;
    }
}

.footer__icon {
    flex: 0 0 1rem;
    width: 1rem;
    height: 1rem;
    margin: 0 0.625rem 0 0;
    display: block;
    fill: none;
    stroke: var(--buttons-violet, #7b61ff);
    stroke-width: 2;
    stroke-linecap: round;
}

.footer__label,
.footer__text,
.footer__partners li {
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.417;
 /* 141.667% */
    color: var(--gray-gray_50, #9393a3);
}

.footer__text,
.footer__label {
    margin: 0 0 1.25rem 0;
}

.footer__text span,
.footer__partners li {
    display: block;
}

.footer__text span:not(:last-child),
.footer__partners li:not(:last-child) {
    margin: 0 0 0.75rem 0;
}

.footer__text a {
    font-weight: 500;
    color: inherit;
}